@theme {
  /* Reset ============================================= */
  --color-\*: initial;

  /* Gray ============================================== */
  --color-gray-1: var(--color-gray-1);
  --color-gray-2: var(--color-gray-2);
  --color-gray-3: var(--color-gray-3);
  --color-gray-4: var(--color-gray-4);
  --color-gray-5: var(--color-gray-5);
  --color-gray-6: var(--color-gray-6);
  --color-gray-7: var(--color-gray-7);
  --color-gray-8: var(--color-gray-8);
  --color-gray-9: var(--color-gray-9);
  --color-gray-10: var(--color-gray-10);
  --color-gray-11: var(--color-gray-11);
  --color-gray-12: var(--color-gray-12);

  --color-gray-light-1: var(--color-gray-light-1);
  --color-gray-light-2: var(--color-gray-light-2);
  --color-gray-light-3: var(--color-gray-light-3);
  --color-gray-light-4: var(--color-gray-light-4);
  --color-gray-light-5: var(--color-gray-light-5);
  --color-gray-light-6: var(--color-gray-light-6);
  --color-gray-light-7: var(--color-gray-light-7);
  --color-gray-light-8: var(--color-gray-light-8);
  --color-gray-light-9: var(--color-gray-light-9);
  --color-gray-light-10: var(--color-gray-light-10);
  --color-gray-light-11: var(--color-gray-light-11);
  --color-gray-light-12: var(--color-gray-light-12);

  --color-gray-dark-1: var(--color-gray-dark-1);
  --color-gray-dark-2: var(--color-gray-dark-2);
  --color-gray-dark-3: var(--color-gray-dark-3);
  --color-gray-dark-4: var(--color-gray-dark-4);
  --color-gray-dark-5: var(--color-gray-dark-5);
  --color-gray-dark-6: var(--color-gray-dark-6);
  --color-gray-dark-7: var(--color-gray-dark-7);
  --color-gray-dark-8: var(--color-gray-dark-8);
  --color-gray-dark-9: var(--color-gray-dark-9);
  --color-gray-dark-10: var(--color-gray-dark-10);
  --color-gray-dark-11: var(--color-gray-dark-11);
  --color-gray-dark-12: var(--color-gray-dark-12);

  /* Primary =========================================== */
  --color-primary-1: var(--color-primary-1);
  --color-primary-2: var(--color-primary-2);
  --color-primary-3: var(--color-primary-3);
  --color-primary-4: var(--color-primary-4);
  --color-primary-5: var(--color-primary-5);
  --color-primary-6: var(--color-primary-6);
  --color-primary-7: var(--color-primary-7);
  --color-primary-8: var(--color-primary-8);
  --color-primary-9: var(--color-primary-9);
  --color-primary-10: var(--color-primary-10);
  --color-primary-11: var(--color-primary-11);
  --color-primary-12: var(--color-primary-12);

  --color-primary-light-1: var(--color-primary-light-1);
  --color-primary-light-2: var(--color-primary-light-2);
  --color-primary-light-3: var(--color-primary-light-3);
  --color-primary-light-4: var(--color-primary-light-4);
  --color-primary-light-5: var(--color-primary-light-5);
  --color-primary-light-6: var(--color-primary-light-6);
  --color-primary-light-7: var(--color-primary-light-7);
  --color-primary-light-8: var(--color-primary-light-8);
  --color-primary-light-9: var(--color-primary-light-9);
  --color-primary-light-10: var(--color-primary-light-10);
  --color-primary-light-11: var(--color-primary-light-11);
  --color-primary-light-12: var(--color-primary-light-12);

  --color-primary-dark-1: var(--color-primary-dark-1);
  --color-primary-dark-2: var(--color-primary-dark-2);
  --color-primary-dark-3: var(--color-primary-dark-3);
  --color-primary-dark-4: var(--color-primary-dark-4);
  --color-primary-dark-5: var(--color-primary-dark-5);
  --color-primary-dark-6: var(--color-primary-dark-6);
  --color-primary-dark-7: var(--color-primary-dark-7);
  --color-primary-dark-8: var(--color-primary-dark-8);
  --color-primary-dark-9: var(--color-primary-dark-9);
  --color-primary-dark-10: var(--color-primary-dark-10);
  --color-primary-dark-11: var(--color-primary-dark-11);
  --color-primary-dark-12: var(--color-primary-dark-12);
}
