@theme {
  /* Reset ============================================= */
  --color-\*: initial;

  /* Gray ============================================== */
  --color-gray-1: var(--color-gray-1);
  --color-gray-2: var(--color-gray-2);
  --color-gray-3: var(--color-gray-3);
  --color-gray-4: var(--color-gray-4);
  --color-gray-5: var(--color-gray-5);
  --color-gray-6: var(--color-gray-6);
  --color-gray-7: var(--color-gray-7);
  --color-gray-8: var(--color-gray-8);
  --color-gray-9: var(--color-gray-9);
  --color-gray-10: var(--color-gray-10);
  --color-gray-11: var(--color-gray-11);
  --color-gray-12: var(--color-gray-12);

  --color-gray-a1: var(--color-gray-a1);
  --color-gray-a2: var(--color-gray-a2);
  --color-gray-a3: var(--color-gray-a3);
  --color-gray-a4: var(--color-gray-a4);
  --color-gray-a5: var(--color-gray-a5);
  --color-gray-a6: var(--color-gray-a6);
  --color-gray-a7: var(--color-gray-a7);
  --color-gray-a8: var(--color-gray-a8);
  --color-gray-a9: var(--color-gray-a9);
  --color-gray-a10: var(--color-gray-a10);
  --color-gray-a11: var(--color-gray-a11);
  --color-gray-a12: var(--color-gray-a12);

  --color-gray-light-1: var(--color-gray-light-1);
  --color-gray-light-2: var(--color-gray-light-2);
  --color-gray-light-3: var(--color-gray-light-3);
  --color-gray-light-4: var(--color-gray-light-4);
  --color-gray-light-5: var(--color-gray-light-5);
  --color-gray-light-6: var(--color-gray-light-6);
  --color-gray-light-7: var(--color-gray-light-7);
  --color-gray-light-8: var(--color-gray-light-8);
  --color-gray-light-9: var(--color-gray-light-9);
  --color-gray-light-10: var(--color-gray-light-10);
  --color-gray-light-11: var(--color-gray-light-11);
  --color-gray-light-12: var(--color-gray-light-12);

  --color-gray-light-a1: var(--color-gray-light-a1);
  --color-gray-light-a2: var(--color-gray-light-a2);
  --color-gray-light-a3: var(--color-gray-light-a3);
  --color-gray-light-a4: var(--color-gray-light-a4);
  --color-gray-light-a5: var(--color-gray-light-a5);
  --color-gray-light-a6: var(--color-gray-light-a6);
  --color-gray-light-a7: var(--color-gray-light-a7);
  --color-gray-light-a8: var(--color-gray-light-a8);
  --color-gray-light-a9: var(--color-gray-light-a9);
  --color-gray-light-a10: var(--color-gray-light-a10);
  --color-gray-light-a11: var(--color-gray-light-a11);
  --color-gray-light-a12: var(--color-gray-light-a12);

  --color-gray-dark-1: var(--color-gray-dark-1);
  --color-gray-dark-2: var(--color-gray-dark-2);
  --color-gray-dark-3: var(--color-gray-dark-3);
  --color-gray-dark-4: var(--color-gray-dark-4);
  --color-gray-dark-5: var(--color-gray-dark-5);
  --color-gray-dark-6: var(--color-gray-dark-6);
  --color-gray-dark-7: var(--color-gray-dark-7);
  --color-gray-dark-8: var(--color-gray-dark-8);
  --color-gray-dark-9: var(--color-gray-dark-9);
  --color-gray-dark-10: var(--color-gray-dark-10);
  --color-gray-dark-11: var(--color-gray-dark-11);
  --color-gray-dark-12: var(--color-gray-dark-12);

  --color-gray-dark-a1: var(--color-gray-dark-a1);
  --color-gray-dark-a2: var(--color-gray-dark-a2);
  --color-gray-dark-a3: var(--color-gray-dark-a3);
  --color-gray-dark-a4: var(--color-gray-dark-a4);
  --color-gray-dark-a5: var(--color-gray-dark-a5);
  --color-gray-dark-a6: var(--color-gray-dark-a6);
  --color-gray-dark-a7: var(--color-gray-dark-a7);
  --color-gray-dark-a8: var(--color-gray-dark-a8);
  --color-gray-dark-a9: var(--color-gray-dark-a9);
  --color-gray-dark-a10: var(--color-gray-dark-a10);
  --color-gray-dark-a11: var(--color-gray-dark-a11);
  --color-gray-dark-a12: var(--color-gray-dark-a12);

  /* Primary =========================================== */
  --color-primary-1: var(--color-primary-1);
  --color-primary-2: var(--color-primary-2);
  --color-primary-3: var(--color-primary-3);
  --color-primary-4: var(--color-primary-4);
  --color-primary-5: var(--color-primary-5);
  --color-primary-6: var(--color-primary-6);
  --color-primary-7: var(--color-primary-7);
  --color-primary-8: var(--color-primary-8);
  --color-primary-9: var(--color-primary-9);
  --color-primary-10: var(--color-primary-10);
  --color-primary-11: var(--color-primary-11);
  --color-primary-12: var(--color-primary-12);

  --color-primary-a1: var(--color-primary-a1);
  --color-primary-a2: var(--color-primary-a2);
  --color-primary-a3: var(--color-primary-a3);
  --color-primary-a4: var(--color-primary-a4);
  --color-primary-a5: var(--color-primary-a5);
  --color-primary-a6: var(--color-primary-a6);
  --color-primary-a7: var(--color-primary-a7);
  --color-primary-a8: var(--color-primary-a8);
  --color-primary-a9: var(--color-primary-a9);
  --color-primary-a10: var(--color-primary-a10);
  --color-primary-a11: var(--color-primary-a11);
  --color-primary-a12: var(--color-primary-a12);

  --color-primary-light-1: var(--color-primary-light-1);
  --color-primary-light-2: var(--color-primary-light-2);
  --color-primary-light-3: var(--color-primary-light-3);
  --color-primary-light-4: var(--color-primary-light-4);
  --color-primary-light-5: var(--color-primary-light-5);
  --color-primary-light-6: var(--color-primary-light-6);
  --color-primary-light-7: var(--color-primary-light-7);
  --color-primary-light-8: var(--color-primary-light-8);
  --color-primary-light-9: var(--color-primary-light-9);
  --color-primary-light-10: var(--color-primary-light-10);
  --color-primary-light-11: var(--color-primary-light-11);
  --color-primary-light-12: var(--color-primary-light-12);

  --color-primary-light-a1: var(--color-primary-light-a1);
  --color-primary-light-a2: var(--color-primary-light-a2);
  --color-primary-light-a3: var(--color-primary-light-a3);
  --color-primary-light-a4: var(--color-primary-light-a4);
  --color-primary-light-a5: var(--color-primary-light-a5);
  --color-primary-light-a6: var(--color-primary-light-a6);
  --color-primary-light-a7: var(--color-primary-light-a7);
  --color-primary-light-a8: var(--color-primary-light-a8);
  --color-primary-light-a9: var(--color-primary-light-a9);
  --color-primary-light-a10: var(--color-primary-light-a10);
  --color-primary-light-a11: var(--color-primary-light-a11);
  --color-primary-light-a12: var(--color-primary-light-a12);

  --color-primary-dark-1: var(--color-primary-dark-1);
  --color-primary-dark-2: var(--color-primary-dark-2);
  --color-primary-dark-3: var(--color-primary-dark-3);
  --color-primary-dark-4: var(--color-primary-dark-4);
  --color-primary-dark-5: var(--color-primary-dark-5);
  --color-primary-dark-6: var(--color-primary-dark-6);
  --color-primary-dark-7: var(--color-primary-dark-7);
  --color-primary-dark-8: var(--color-primary-dark-8);
  --color-primary-dark-9: var(--color-primary-dark-9);
  --color-primary-dark-10: var(--color-primary-dark-10);
  --color-primary-dark-11: var(--color-primary-dark-11);
  --color-primary-dark-12: var(--color-primary-dark-12);

  --color-primary-dark-a1: var(--color-primary-dark-a1);
  --color-primary-dark-a2: var(--color-primary-dark-a2);
  --color-primary-dark-a3: var(--color-primary-dark-a3);
  --color-primary-dark-a4: var(--color-primary-dark-a4);
  --color-primary-dark-a5: var(--color-primary-dark-a5);
  --color-primary-dark-a6: var(--color-primary-dark-a6);
  --color-primary-dark-a7: var(--color-primary-dark-a7);
  --color-primary-dark-a8: var(--color-primary-dark-a8);
  --color-primary-dark-a9: var(--color-primary-dark-a9);
  --color-primary-dark-a10: var(--color-primary-dark-a10);
  --color-primary-dark-a11: var(--color-primary-dark-a11);
  --color-primary-dark-a12: var(--color-primary-dark-a12);
}
