.color-gray-gray {
  --color-gray-1: var(--color-primitive-gray-1);
  --color-gray-2: var(--color-primitive-gray-2);
  --color-gray-3: var(--color-primitive-gray-3);
  --color-gray-4: var(--color-primitive-gray-4);
  --color-gray-5: var(--color-primitive-gray-5);
  --color-gray-6: var(--color-primitive-gray-6);
  --color-gray-7: var(--color-primitive-gray-7);
  --color-gray-8: var(--color-primitive-gray-8);
  --color-gray-9: var(--color-primitive-gray-9);
  --color-gray-10: var(--color-primitive-gray-10);
  --color-gray-11: var(--color-primitive-gray-11);
  --color-gray-12: var(--color-primitive-gray-12);
}

.color-gray-gray-dark {
  --color-gray-1: var(--color-primitive-gray-dark-1);
  --color-gray-2: var(--color-primitive-gray-dark-2);
  --color-gray-3: var(--color-primitive-gray-dark-3);
  --color-gray-4: var(--color-primitive-gray-dark-4);
  --color-gray-5: var(--color-primitive-gray-dark-5);
  --color-gray-6: var(--color-primitive-gray-dark-6);
  --color-gray-7: var(--color-primitive-gray-dark-7);
  --color-gray-8: var(--color-primitive-gray-dark-8);
  --color-gray-9: var(--color-primitive-gray-dark-9);
  --color-gray-10: var(--color-primitive-gray-dark-10);
  --color-gray-11: var(--color-primitive-gray-dark-11);
  --color-gray-12: var(--color-primitive-gray-dark-12);
}

.color-gray-gray,
.color-gray-gray-dark {
  --color-gray-light-1: var(--color-primitive-gray-1);
  --color-gray-light-2: var(--color-primitive-gray-2);
  --color-gray-light-3: var(--color-primitive-gray-3);
  --color-gray-light-4: var(--color-primitive-gray-4);
  --color-gray-light-5: var(--color-primitive-gray-5);
  --color-gray-light-6: var(--color-primitive-gray-6);
  --color-gray-light-7: var(--color-primitive-gray-7);
  --color-gray-light-8: var(--color-primitive-gray-8);
  --color-gray-light-9: var(--color-primitive-gray-9);
  --color-gray-light-10: var(--color-primitive-gray-10);
  --color-gray-light-11: var(--color-primitive-gray-11);
  --color-gray-light-12: var(--color-primitive-gray-12);

  --color-gray-dark-1: var(--color-primitive-gray-dark-1);
  --color-gray-dark-2: var(--color-primitive-gray-dark-2);
  --color-gray-dark-3: var(--color-primitive-gray-dark-3);
  --color-gray-dark-4: var(--color-primitive-gray-dark-4);
  --color-gray-dark-5: var(--color-primitive-gray-dark-5);
  --color-gray-dark-6: var(--color-primitive-gray-dark-6);
  --color-gray-dark-7: var(--color-primitive-gray-dark-7);
  --color-gray-dark-8: var(--color-primitive-gray-dark-8);
  --color-gray-dark-9: var(--color-primitive-gray-dark-9);
  --color-gray-dark-10: var(--color-primitive-gray-dark-10);
  --color-gray-dark-11: var(--color-primitive-gray-dark-11);
  --color-gray-dark-12: var(--color-primitive-gray-dark-12);
}

.color-gray-mauve {
  --color-gray-1: var(--color-primitive-mauve-1);
  --color-gray-2: var(--color-primitive-mauve-2);
  --color-gray-3: var(--color-primitive-mauve-3);
  --color-gray-4: var(--color-primitive-mauve-4);
  --color-gray-5: var(--color-primitive-mauve-5);
  --color-gray-6: var(--color-primitive-mauve-6);
  --color-gray-7: var(--color-primitive-mauve-7);
  --color-gray-8: var(--color-primitive-mauve-8);
  --color-gray-9: var(--color-primitive-mauve-9);
  --color-gray-10: var(--color-primitive-mauve-10);
  --color-gray-11: var(--color-primitive-mauve-11);
  --color-gray-12: var(--color-primitive-mauve-12);
}

.color-gray-mauve-dark {
  --color-gray-1: var(--color-primitive-mauve-dark-1);
  --color-gray-2: var(--color-primitive-mauve-dark-2);
  --color-gray-3: var(--color-primitive-mauve-dark-3);
  --color-gray-4: var(--color-primitive-mauve-dark-4);
  --color-gray-5: var(--color-primitive-mauve-dark-5);
  --color-gray-6: var(--color-primitive-mauve-dark-6);
  --color-gray-7: var(--color-primitive-mauve-dark-7);
  --color-gray-8: var(--color-primitive-mauve-dark-8);
  --color-gray-9: var(--color-primitive-mauve-dark-9);
  --color-gray-10: var(--color-primitive-mauve-dark-10);
  --color-gray-11: var(--color-primitive-mauve-dark-11);
  --color-gray-12: var(--color-primitive-mauve-dark-12);
}

.color-gray-mauve,
.color-gray-mauve-dark {
  --color-gray-light-1: var(--color-primitive-mauve-1);
  --color-gray-light-2: var(--color-primitive-mauve-2);
  --color-gray-light-3: var(--color-primitive-mauve-3);
  --color-gray-light-4: var(--color-primitive-mauve-4);
  --color-gray-light-5: var(--color-primitive-mauve-5);
  --color-gray-light-6: var(--color-primitive-mauve-6);
  --color-gray-light-7: var(--color-primitive-mauve-7);
  --color-gray-light-8: var(--color-primitive-mauve-8);
  --color-gray-light-9: var(--color-primitive-mauve-9);
  --color-gray-light-10: var(--color-primitive-mauve-10);
  --color-gray-light-11: var(--color-primitive-mauve-11);
  --color-gray-light-12: var(--color-primitive-mauve-12);

  --color-gray-dark-1: var(--color-primitive-mauve-dark-1);
  --color-gray-dark-2: var(--color-primitive-mauve-dark-2);
  --color-gray-dark-3: var(--color-primitive-mauve-dark-3);
  --color-gray-dark-4: var(--color-primitive-mauve-dark-4);
  --color-gray-dark-5: var(--color-primitive-mauve-dark-5);
  --color-gray-dark-6: var(--color-primitive-mauve-dark-6);
  --color-gray-dark-7: var(--color-primitive-mauve-dark-7);
  --color-gray-dark-8: var(--color-primitive-mauve-dark-8);
  --color-gray-dark-9: var(--color-primitive-mauve-dark-9);
  --color-gray-dark-10: var(--color-primitive-mauve-dark-10);
  --color-gray-dark-11: var(--color-primitive-mauve-dark-11);
  --color-gray-dark-12: var(--color-primitive-mauve-dark-12);
}

.color-gray-slate {
  --color-gray-1: var(--color-primitive-slate-1);
  --color-gray-2: var(--color-primitive-slate-2);
  --color-gray-3: var(--color-primitive-slate-3);
  --color-gray-4: var(--color-primitive-slate-4);
  --color-gray-5: var(--color-primitive-slate-5);
  --color-gray-6: var(--color-primitive-slate-6);
  --color-gray-7: var(--color-primitive-slate-7);
  --color-gray-8: var(--color-primitive-slate-8);
  --color-gray-9: var(--color-primitive-slate-9);
  --color-gray-10: var(--color-primitive-slate-10);
  --color-gray-11: var(--color-primitive-slate-11);
  --color-gray-12: var(--color-primitive-slate-12);
}

.color-gray-slate-dark {
  --color-gray-1: var(--color-primitive-slate-dark-1);
  --color-gray-2: var(--color-primitive-slate-dark-2);
  --color-gray-3: var(--color-primitive-slate-dark-3);
  --color-gray-4: var(--color-primitive-slate-dark-4);
  --color-gray-5: var(--color-primitive-slate-dark-5);
  --color-gray-6: var(--color-primitive-slate-dark-6);
  --color-gray-7: var(--color-primitive-slate-dark-7);
  --color-gray-8: var(--color-primitive-slate-dark-8);
  --color-gray-9: var(--color-primitive-slate-dark-9);
  --color-gray-10: var(--color-primitive-slate-dark-10);
  --color-gray-11: var(--color-primitive-slate-dark-11);
  --color-gray-12: var(--color-primitive-slate-dark-12);
}

.color-gray-slate,
.color-gray-slate-dark {
  --color-gray-light-1: var(--color-primitive-slate-1);
  --color-gray-light-2: var(--color-primitive-slate-2);
  --color-gray-light-3: var(--color-primitive-slate-3);
  --color-gray-light-4: var(--color-primitive-slate-4);
  --color-gray-light-5: var(--color-primitive-slate-5);
  --color-gray-light-6: var(--color-primitive-slate-6);
  --color-gray-light-7: var(--color-primitive-slate-7);
  --color-gray-light-8: var(--color-primitive-slate-8);
  --color-gray-light-9: var(--color-primitive-slate-9);
  --color-gray-light-10: var(--color-primitive-slate-10);
  --color-gray-light-11: var(--color-primitive-slate-11);
  --color-gray-light-12: var(--color-primitive-slate-12);

  --color-gray-dark-1: var(--color-primitive-slate-dark-1);
  --color-gray-dark-2: var(--color-primitive-slate-dark-2);
  --color-gray-dark-3: var(--color-primitive-slate-dark-3);
  --color-gray-dark-4: var(--color-primitive-slate-dark-4);
  --color-gray-dark-5: var(--color-primitive-slate-dark-5);
  --color-gray-dark-6: var(--color-primitive-slate-dark-6);
  --color-gray-dark-7: var(--color-primitive-slate-dark-7);
  --color-gray-dark-8: var(--color-primitive-slate-dark-8);
  --color-gray-dark-9: var(--color-primitive-slate-dark-9);
  --color-gray-dark-10: var(--color-primitive-slate-dark-10);
  --color-gray-dark-11: var(--color-primitive-slate-dark-11);
  --color-gray-dark-12: var(--color-primitive-slate-dark-12);
}

.color-gray-sage {
  --color-gray-1: var(--color-primitive-sage-1);
  --color-gray-2: var(--color-primitive-sage-2);
  --color-gray-3: var(--color-primitive-sage-3);
  --color-gray-4: var(--color-primitive-sage-4);
  --color-gray-5: var(--color-primitive-sage-5);
  --color-gray-6: var(--color-primitive-sage-6);
  --color-gray-7: var(--color-primitive-sage-7);
  --color-gray-8: var(--color-primitive-sage-8);
  --color-gray-9: var(--color-primitive-sage-9);
  --color-gray-10: var(--color-primitive-sage-10);
  --color-gray-11: var(--color-primitive-sage-11);
  --color-gray-12: var(--color-primitive-sage-12);
}

.color-gray-sage-dark {
  --color-gray-1: var(--color-primitive-sage-dark-1);
  --color-gray-2: var(--color-primitive-sage-dark-2);
  --color-gray-3: var(--color-primitive-sage-dark-3);
  --color-gray-4: var(--color-primitive-sage-dark-4);
  --color-gray-5: var(--color-primitive-sage-dark-5);
  --color-gray-6: var(--color-primitive-sage-dark-6);
  --color-gray-7: var(--color-primitive-sage-dark-7);
  --color-gray-8: var(--color-primitive-sage-dark-8);
  --color-gray-9: var(--color-primitive-sage-dark-9);
  --color-gray-10: var(--color-primitive-sage-dark-10);
  --color-gray-11: var(--color-primitive-sage-dark-11);
  --color-gray-12: var(--color-primitive-sage-dark-12);
}

.color-gray-sage,
.color-gray-sage-dark {
  --color-gray-light-1: var(--color-primitive-sage-1);
  --color-gray-light-2: var(--color-primitive-sage-2);
  --color-gray-light-3: var(--color-primitive-sage-3);
  --color-gray-light-4: var(--color-primitive-sage-4);
  --color-gray-light-5: var(--color-primitive-sage-5);
  --color-gray-light-6: var(--color-primitive-sage-6);
  --color-gray-light-7: var(--color-primitive-sage-7);
  --color-gray-light-8: var(--color-primitive-sage-8);
  --color-gray-light-9: var(--color-primitive-sage-9);
  --color-gray-light-10: var(--color-primitive-sage-10);
  --color-gray-light-11: var(--color-primitive-sage-11);
  --color-gray-light-12: var(--color-primitive-sage-12);

  --color-gray-dark-1: var(--color-primitive-sage-dark-1);
  --color-gray-dark-2: var(--color-primitive-sage-dark-2);
  --color-gray-dark-3: var(--color-primitive-sage-dark-3);
  --color-gray-dark-4: var(--color-primitive-sage-dark-4);
  --color-gray-dark-5: var(--color-primitive-sage-dark-5);
  --color-gray-dark-6: var(--color-primitive-sage-dark-6);
  --color-gray-dark-7: var(--color-primitive-sage-dark-7);
  --color-gray-dark-8: var(--color-primitive-sage-dark-8);
  --color-gray-dark-9: var(--color-primitive-sage-dark-9);
  --color-gray-dark-10: var(--color-primitive-sage-dark-10);
  --color-gray-dark-11: var(--color-primitive-sage-dark-11);
  --color-gray-dark-12: var(--color-primitive-sage-dark-12);
}

.color-gray-olive {
  --color-gray-1: var(--color-primitive-olive-1);
  --color-gray-2: var(--color-primitive-olive-2);
  --color-gray-3: var(--color-primitive-olive-3);
  --color-gray-4: var(--color-primitive-olive-4);
  --color-gray-5: var(--color-primitive-olive-5);
  --color-gray-6: var(--color-primitive-olive-6);
  --color-gray-7: var(--color-primitive-olive-7);
  --color-gray-8: var(--color-primitive-olive-8);
  --color-gray-9: var(--color-primitive-olive-9);
  --color-gray-10: var(--color-primitive-olive-10);
  --color-gray-11: var(--color-primitive-olive-11);
  --color-gray-12: var(--color-primitive-olive-12);
}

.color-gray-olive-dark {
  --color-gray-1: var(--color-primitive-olive-dark-1);
  --color-gray-2: var(--color-primitive-olive-dark-2);
  --color-gray-3: var(--color-primitive-olive-dark-3);
  --color-gray-4: var(--color-primitive-olive-dark-4);
  --color-gray-5: var(--color-primitive-olive-dark-5);
  --color-gray-6: var(--color-primitive-olive-dark-6);
  --color-gray-7: var(--color-primitive-olive-dark-7);
  --color-gray-8: var(--color-primitive-olive-dark-8);
  --color-gray-9: var(--color-primitive-olive-dark-9);
  --color-gray-10: var(--color-primitive-olive-dark-10);
  --color-gray-11: var(--color-primitive-olive-dark-11);
  --color-gray-12: var(--color-primitive-olive-dark-12);
}

.color-gray-olive,
.color-gray-olive-dark {
  --color-gray-light-1: var(--color-primitive-olive-1);
  --color-gray-light-2: var(--color-primitive-olive-2);
  --color-gray-light-3: var(--color-primitive-olive-3);
  --color-gray-light-4: var(--color-primitive-olive-4);
  --color-gray-light-5: var(--color-primitive-olive-5);
  --color-gray-light-6: var(--color-primitive-olive-6);
  --color-gray-light-7: var(--color-primitive-olive-7);
  --color-gray-light-8: var(--color-primitive-olive-8);
  --color-gray-light-9: var(--color-primitive-olive-9);
  --color-gray-light-10: var(--color-primitive-olive-10);
  --color-gray-light-11: var(--color-primitive-olive-11);
  --color-gray-light-12: var(--color-primitive-olive-12);

  --color-gray-dark-1: var(--color-primitive-olive-dark-1);
  --color-gray-dark-2: var(--color-primitive-olive-dark-2);
  --color-gray-dark-3: var(--color-primitive-olive-dark-3);
  --color-gray-dark-4: var(--color-primitive-olive-dark-4);
  --color-gray-dark-5: var(--color-primitive-olive-dark-5);
  --color-gray-dark-6: var(--color-primitive-olive-dark-6);
  --color-gray-dark-7: var(--color-primitive-olive-dark-7);
  --color-gray-dark-8: var(--color-primitive-olive-dark-8);
  --color-gray-dark-9: var(--color-primitive-olive-dark-9);
  --color-gray-dark-10: var(--color-primitive-olive-dark-10);
  --color-gray-dark-11: var(--color-primitive-olive-dark-11);
  --color-gray-dark-12: var(--color-primitive-olive-dark-12);
}

.color-gray-sand {
  --color-gray-1: var(--color-primitive-sand-1);
  --color-gray-2: var(--color-primitive-sand-2);
  --color-gray-3: var(--color-primitive-sand-3);
  --color-gray-4: var(--color-primitive-sand-4);
  --color-gray-5: var(--color-primitive-sand-5);
  --color-gray-6: var(--color-primitive-sand-6);
  --color-gray-7: var(--color-primitive-sand-7);
  --color-gray-8: var(--color-primitive-sand-8);
  --color-gray-9: var(--color-primitive-sand-9);
  --color-gray-10: var(--color-primitive-sand-10);
  --color-gray-11: var(--color-primitive-sand-11);
  --color-gray-12: var(--color-primitive-sand-12);
}

.color-gray-sand-dark {
  --color-gray-1: var(--color-primitive-sand-dark-1);
  --color-gray-2: var(--color-primitive-sand-dark-2);
  --color-gray-3: var(--color-primitive-sand-dark-3);
  --color-gray-4: var(--color-primitive-sand-dark-4);
  --color-gray-5: var(--color-primitive-sand-dark-5);
  --color-gray-6: var(--color-primitive-sand-dark-6);
  --color-gray-7: var(--color-primitive-sand-dark-7);
  --color-gray-8: var(--color-primitive-sand-dark-8);
  --color-gray-9: var(--color-primitive-sand-dark-9);
  --color-gray-10: var(--color-primitive-sand-dark-10);
  --color-gray-11: var(--color-primitive-sand-dark-11);
  --color-gray-12: var(--color-primitive-sand-dark-12);
}

.color-gray-sand,
.color-gray-sand-dark {
  --color-gray-light-1: var(--color-primitive-sand-1);
  --color-gray-light-2: var(--color-primitive-sand-2);
  --color-gray-light-3: var(--color-primitive-sand-3);
  --color-gray-light-4: var(--color-primitive-sand-4);
  --color-gray-light-5: var(--color-primitive-sand-5);
  --color-gray-light-6: var(--color-primitive-sand-6);
  --color-gray-light-7: var(--color-primitive-sand-7);
  --color-gray-light-8: var(--color-primitive-sand-8);
  --color-gray-light-9: var(--color-primitive-sand-9);
  --color-gray-light-10: var(--color-primitive-sand-10);
  --color-gray-light-11: var(--color-primitive-sand-11);
  --color-gray-light-12: var(--color-primitive-sand-12);

  --color-gray-dark-1: var(--color-primitive-sand-dark-1);
  --color-gray-dark-2: var(--color-primitive-sand-dark-2);
  --color-gray-dark-3: var(--color-primitive-sand-dark-3);
  --color-gray-dark-4: var(--color-primitive-sand-dark-4);
  --color-gray-dark-5: var(--color-primitive-sand-dark-5);
  --color-gray-dark-6: var(--color-primitive-sand-dark-6);
  --color-gray-dark-7: var(--color-primitive-sand-dark-7);
  --color-gray-dark-8: var(--color-primitive-sand-dark-8);
  --color-gray-dark-9: var(--color-primitive-sand-dark-9);
  --color-gray-dark-10: var(--color-primitive-sand-dark-10);
  --color-gray-dark-11: var(--color-primitive-sand-dark-11);
  --color-gray-dark-12: var(--color-primitive-sand-dark-12);
}
